<li>
    <article class="prod-item">
        <img src="<%= prod.imageUrl %>" alt="<%= prod.image %>" />
        <h2><%= prod.title %></h2>
        <% if(locals.isAdmin){ %>
            <div>
                <a href="/admin/product/<%= prod.id %>" class="btn">Edit</a>
                <button class="btn deleteBtn" data-pid="<%= prod.id %>">Delete</button>
            </div>
        <% }else{ %>
            <a href="/product/<%= prod.id %>" class="btn">View Product</a>
        <% } %>
    </article>
</li>