<%- include("./includes/head", {Ptitle: "Signup"}); %>
<link rel="stylesheet" href="styles/auth.css">
</head>
<body>
    <%- include("./includes/header"); %>
    <main>
        <h1>Create New Account</h1>
        <form action="/signup" method="POST">
            <div class="errorM"><%= inputData.message %></div>
            <div>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" required value="<%= inputData.email %>">
            </div>
            <div>
                <label for="pass">Password</label>
                <input type="password" name="pass" id="pass" required>
            </div>
            <div>
                <label for="confirmPass">Confirm Password</label>
                <input type="password" name="confirmPass" id="confirmPass" required>
            </div>
            <hr>
            <div> 
                <label for="fullName">Full Name</label>
                <input type="text" name="fullName" id="fullName" required value="<%= inputData.fullName %>">
            </div>
            <div>
                <label for="street">Street</label>
                <input type="text" name="street" id="street" required value="<%= inputData.street %>">
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" name="city" id="city" required value="<%= inputData.city %>">
            </div>
            <button class="btn" type="submit">Signup</button>
            <span><a href="/login">Login Instead</a></span>
        </form>
    </main>
</body>
</html>